{
  "trailingComma": "es5",
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "tailwindFunctions": ["clsx, classNames"],
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ]
}
